/*==Style cơ bản cho website==*/
* {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;     /*hiển thị và trang trí viền.copy css và đặt tên cho layer pts theo từng phần trong css*/
    -moz-box-sizing: border-box;
    margin: 0px;
    padding:0px;
}
    body,html { 
    font-size: 16px;                   /* font-size:cỡ chữ */
    line-height: 1.254em;             /* line-height:chiều cao giữa các dòng chữ */
   width: 100%;
height: 100%;
}
    a {                                       
    text-decoration: none; 
    color: #3B8BBA; 
    } 
    a:hover,
    a:visited {
    color: #265778; 
    }
/*==Trang trí vỏ bọc wrapper==*/ 
.container-fluid wrapper {
    background-color:#f2f2f2;                                                /*background-image: url("Layer 0.png");*/
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    margin-right:0px;
    margin-bottom: 0px;
    max-width:  1920px;
    height: 3644px;
    z-index: 2;
    
}
.container-fluid wrapper  .header{
    margin:auto;
    position:relative ;
    max-width: 1230px;
    height: 2865px;
} 
    /*==Trang trí khung menutop==*/ 
    menutop{
    
    
    }
/*==Trang trí noi dung ben trong menutop== đo từng hàng*/ 
 .row {
position: relative;
 margin:auto;

}



/*==Trang trí khung header==*/ 
 header{
    
    }
/*==Trang trí nội dung bên trong header==*/
header .row1 {
    border: #ff0000 solid 1px;         
    clear:both;    
width: 1125px;
height: 35px;
margin-top:71px;

}
    header .row2 {
        clear:both;        
        border: #ff0000 solid 1px;              
        margin-top:22px;                 
        width: 1200px;
        height:50px; 
    }    
    
           
        
    header .row3 {
                  
}
header .row4 {
    clear:both;           
    border: #ff0000 solid 1px;            
    margin-top:20px;       
}      
         







/*The Media Responsive Media Querrise*/
@media (min-width: 576px) { 
 p{
 font-size: ;
 line-height: ;
color:#ff0000 ;  
margin-bottom: ;
font-weight: ;
font-family: ;
}  
}


@media (min-width: 768px) { 
    p{
        font-size: ;
        line-height: ;
       color:#ff0000 ;  
       margin-bottom: ;
       font-weight: ;
       font-family: ;
       }    
 }


@media (min-width: 992px) { 
    p{
        font-size: ;
        line-height: ;
       color:#ff0000 ;  
       margin-bottom: ;
       font-weight: ;
       font-family: ;
       }   
 }


@media (min-width: 1200px) { 
    p{
        font-size: ;
        line-height: ;
       color:black ;  
       margin-bottom: ;
       font-weight: ;
       font-family: ;
       }   
 }                  
        
        
        
                      

    


  






    
    
    
          
   
   
    
    
    
    
    
    
    
    
    
   
   
